/* tags */
body {
    margin: 0;
    font-family: Arial;
}

body a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    min-height: 50px;
    background: purple;
    padding: 0 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4);
}

main {
    min-height: 700px;
    background-color: #fafafa;
    padding-top: 60px;
}

footer {
    min-height: 300px;
    background: darkslategray;
}

footer h3 {
    color: #cccccc;
}

a.simple-button {
    text-decoration: none;
}

a.simple-button:hover {
    background-color: #f0f0f0;
}

hr {
    margin: 10px 10px;
    border-style: solid;
    border-width: 0.03em;
    border-color: #ededed;
}

ul {
    width: 90%;
}

/* classes */
.top-menu-area {
    min-height: 50px;
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.top-menu {
    background-color: #6f6f6f;
    margin: 0 1px;
    padding-top: 15px;
}

.simple-box {
    background-color: #fefefe;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    overflow: hidden;
}

.simple-button {
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

.col-3-wrap {
    display: flex;
}

.col-3 {
    width: 33.3%
}

.follow-button-container {
    padding: 5px 0;
}

.follow-button {
    font-size: 0.8em;
    padding: 5px;
    color: gray;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-list a {
    color: #aaaaaa;
}

.flexbox {
    display: flex;
}

.bigger-text {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.blur {
    filter: blur(4px);
}

.save-btn {
    width: 70px;
    padding: 5px 0;
    text-align: center;
    background: green;
    color: white;
}

.normal-input {
    display: block;
    width: 100%;
    height: 30px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 1em;
    padding: 3px;
}

.single-question {
    margin: 0 0 10px 0;
}

.single-question label {
    font-size: 0.9em;
}

.flex-right-align {
    justify-content: flex-end;
}

.notification-method {
    margin-left: 20px;
}

.checkbox-area {
    display: flex;
    display: flex;
    margin-left: auto;
}

/* IDs */
#top-logo {
    color: white;
    padding-top: 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.2em;
}

#brand-logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#search {
    min-width: 150px;
    float: right;
    margin: 10px 20px 0 0;
    padding: 5px 10px;
    color: gray;
    background: white;
    border: 0;
}

#user-name {
    float: right;
    color: white;
    margin: 10px 30px 0 0;
    padding: 5px 10px;
    background: #901090;
    border: 0;
}

#circle {
    float: left;
    height: 15px;
    width: 15px;
    margin: 3px 5px 0 0;
    border-radius: 50%;
    background: blueviolet;
    color:white;
    font-size: 0.7em;
    text-align: center;
}

#main-info .col-3 span {
    margin: 0 5px;
}

#main-poster {
    background-image: url("../images/bm_main.jpg");
    min-height: 400px;
    color: #cccccc;
    font-size: 1.2em;
    padding: 10px;
}

#title-area {
    margin-top: 10px;
}

#rest-name {
    font-size: 2em;
}

#score {
    float: right;
    background: orange;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: purple;
    margin-top: 5px;
}

#footer-container {
    width: 50%;
    margin: 0 auto;
}

#photos {
    padding: 0 20px;
}

#photos h1 {
    font-size: 1.5em;
}

#photos img {
    border-radius: 7px;
    width: 10%;
}

#profile-main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#left-float {
    width: 300px;
    height: 400px;
}

#main-area {
    margin-left: 20px;
    padding-bottom: 20px;
    width: 700px;
}

#info-area {
    padding: 20px 20px 10px 10px;
}

#notification-area {
    padding: 20px 60px 10px 10px;
}

#profile-image {
}

#profile-name {
    margin: 0px 15px 20px 15px;
}

#loc-info {
    display: flex;
    align-items: center;
    color: navy;
}

#change-image {
    width: 120px;
    text-align: center;
    position: relative;
    top: -150px;
    left: 90px;
    visibility: hidden;
    border: 1px solid rgb(203, 32, 45);;
    border-radius: 3px;
    padding: 5px;
    background-color:rgb(203, 32, 45);
    color: white;
    font-size: 0.8em;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 30px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}